sudo apt install unzip
curl -fsSL https://bun.sh/install | bash
source ~/.bashrc
curl https://bun.sh/install | bash
source ~/.bashrc
bun add prisma @prisma/client
bun x prisma init --datasource-provider postgresql
sudo apt install python-pip
pip install requests